@{
    ViewBag.Title = "About";
}
<h2>Простейшее хранилище документов</h2>


<p>
    1. Запись в бд и сохранение в поддирректорию документа
</p>
<p>
    2. Управление записями
</p>
<p>
    3. Сортировка
</p>
<p>
    4. Поиск
</p>
    
