@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Теплых Василий<br />
    <strong>Email:</strong>   <a href="mailto:cyanide70@yandex.ru">cyanide70@yandex.ru</a><br />
</address>
